/* My CSS Template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
}

.navbar {
    font-size: 1.6rem;
    height: 7rem;
}

.navbar-item {
    padding: 0 1rem;
}